In [56]:
import pandas as pd

df=pd.read_csv("ReviewData.csv")

In [62]:
df.head()

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries,Stars,Word_Score
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,5,6.05
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,5,2.83
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip family with young children dup...,NL,5,6.98
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip solo traveler duplex double ro...,NL,5,3.84
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple suite stayed 2 nights ...,NL,5,8.89

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Hotel_Address  515738 non-null  object
 1   Average_Score  515738 non-null  float64
 2   Hotel_Name     515738 non-null  object
 3   Tags           515738 non-null  object
 4   countries      515738 non-null  object
 5   Word_Score     515738 non-null  float64
 6   Stars          515738 non-null  int64
dtypes: float64(2), int64(1), object(4)
memory usage: 27.5+ MB

In [4]:
df.isnull().sum()

Hotel_Address    0
Average_Score    0
Hotel_Name       0
Tags             0
countries        0
Word_Score       0
Stars            0
dtype: int64

In [48]:
df.drop('Word_Score',axis=1,inplace=True)

In [53]:
df.head()

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries,Stars,Word_Score
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,5,6.05
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,5,2.83
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip family with young children dup...,NL,5,6.98
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip solo traveler duplex double ro...,NL,5,3.84
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple suite stayed 2 nights ...,NL,5,8.89

In [50]:
import numpy as np

In [51]:
wordScores=[]
c=0
for i in range (len(df)):
    wordScores.append(round(np.random.uniform(0.5,9.5),2))

In [52]:
df['Word_Score']=wordScores

In [ ]:
def hotelsFromTags(dataframe, tags):

    #boolean mask for each tag
    tagMasks=[dataframe['Tags'].str.contains(eachtag, case=False) for eachtag in tags]

    #tagMask makes different Masking lists for each tag, ie 5 tags as input will make 5 different masking lists
    #so use combined mask to combie them

    combinedMask=pd.Series([True]*len(dataframe))
    for eachMask in tagMasks:
        combinedMask &= eachMask

    #print(combinedMask)
    
    #now filtering the dataframe on the basis of the combined mask and other filters
    result_df=dataframe[combinedMask]
    result_df=result_df.sort_values('Average_Score',ascending=False)
    result_df.drop_duplicates(['Hotel_Name','Average_Score'],inplace=True)
    result_df=result_df.head(10)
    print(result_df[['Hotel_Name','Average_Score','Word_Score','Stars']])

hotelsFromTags(df, ["with a pet"])

In [ ]:
import pickle

hotelModel={'df':df, 'hotelsFromTags':hotelsFromTags }

with open('hotelModelPickle.pkl','wb') as f:
    pickle.dump(hotelModel, f)

In [ ]:
with open('hotelModelPickle.pkl', 'rb') as f:
    modelData = pickle.load(f)

df2=modelData['df']
tagSearch=modelData['hotelsFromTags']

tagSearch(df2, ['leisure trip','couple'])

In [ ]:
import random
hotelNames=df['Hotel_Name']
allHotels=[]

for i in hotelNames:
    if i not in allHotels:
        allHotels.append(i)

hotelStars={}
for i in allHotels:
    hotelStars[i]=random.randint(3,5)

print(hotelStars)

In [ ]:
df['Stars']=df['Hotel_Name'].map(hotelStars)

In [58]:
df.head()

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries,Stars,Word_Score
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,5,6.05
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,5,2.83
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip family with young children dup...,NL,5,6.98
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip solo traveler duplex double ro...,NL,5,3.84
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple suite stayed 2 nights ...,NL,5,8.89

In [55]:
df.to_csv("ReviewData.csv",index=False)

In [ ]:
df.Stars.unique()

Find my Hotel Function

In [65]:
def findMyHotel(dataframe, country, tags, sortBy, stars):
    
    #country mask
    countryMask=dataframe['countries'].str.contains(country, case=False)


    #tag masks
    tagMasks=[dataframe['Tags'].str.contains(eachTag, case=False) for eachTag in tags]
    combinedMask=pd.Series([True]*len(dataframe))
    #combining tag masks
    for eachMask in tagMasks:
        combinedMask &= eachMask
    

    #star filtering
    starMask=pd.Series([True]*len(dataframe))
    if stars!=0 :
        if stars==3 :
            starMask=dataframe['Stars']==3
        elif stars==4 :
            starMask=dataframe['Stars']==4
        elif stars==5 :
            starMask=dataframe['Stars']==5
    

    #final df
    result_df=dataframe[combinedMask & countryMask & starMask]


    #sorting data based on filter
    if sortBy==0:       #average score sorting
        result_df=result_df.sort_values('Average_Score',ascending=False)
    elif sortBy==1:     #word score sorting
        result_df=result_df.sort_values('Word_Score',ascending=False)
    else :
        print("wrong filter")
        return
    
    
    #trimming and printing the result
    result_df.drop_duplicates(['Hotel_Name','Average_Score','Stars'],inplace=True)
    result_df=result_df.head(10)
    #print(result_df[['countries','Hotel_Name','Average_Score','Word_Score','Stars']])
    return result_df[['countries','Hotel_Name','Average_Score','Word_Score','Stars']]


my_df=findMyHotel(df,"AT",["couple","leisure trip"],1,0)
print(my_df)

       countries                          Hotel_Name  Average_Score  \
334822        AT   FourSide Hotel Vienna City Center            8.1
382523        AT                  Pakat Suites Hotel            8.6
336070        AT      Austria Trend Hotel Bosei Wien            8.3
396522        AT                   Hotel Am Parkring            9.0
384785        AT     Fleming s Conference Hotel Wien            8.5
512099        AT          Suite Hotel 900 m zur Oper            8.0
465798        AT                  Hotel City Central            8.6
370715        AT  25hours Hotel beim MuseumsQuartier            8.8
444660        AT                  Arthotel ANA Prime            8.4
464502        AT                      Hotel Stefanie            9.1

        Word_Score  Stars
334822        9.50      5
382523        9.50      3
336070        9.50      3
396522        9.50      4
384785        9.50      5
512099        9.50      3
465798        9.49      3
370715        9.49      5
444660        9.49      5
464502        9.49      5

In [ ]:
def methods():
    print("Dataframe : df")
    print("Find hotel function : findMyHotel(dataframe, country{String}, tags{String array}, sortBy{int}, stars{int})")

methods()

In [59]:
import pickle

with open("hotelModelPickle.pkl","wb") as f:
    pickle.dump(df,f)

In [ ]:
from hotel_utils import methods
methods()

In [60]:
import pickle

with open("hotelModelPickle.pkl","rb") as f:
    hotelData=pickle.load(f)

from hotel_utils import findMyHotel

findMyHotel(hotelData,"AT",["couple","leisure trip"],0,3)

       countries                                    Hotel_Name  Average_Score  \
377338        AT                       Boutiquehotel Das Tyrol            9.4
291575        AT                         Hotel Sans Souci Wien            9.4
342390        AT                 Steigenberger Hotel Herrenhof            9.0
462702        AT                            DO CO Hotel Vienna            9.0
426468        AT                Hotel Landhaus Fuhrgassl Huber            9.0
392532        AT                           Das Opernring Hotel            8.9
395578        AT                          Hotel Beethoven Wien            8.9
376649        AT           Falkensteiner Hotel Wien Margareten            8.9
270448        AT                 Schlosshotel R mischer Kaiser            8.9
445614        AT  Austria Trend Hotel Park Royal Palace Vienna            8.8

        Word_Score  Stars
377338        5.23      3
291575        3.76      3
342390        6.18      3
462702        5.80      3
426468        7.34      3
392532        4.96      3
395578        1.70      3
376649        6.71      3
270448        3.80      3
445614        8.78      3

In [1]:
import pickle

hotelData=pickle.load(open("hotelModelPickle.pkl","rb"))
type(hotelData)

pandas.core.frame.DataFrame

In [31]:
hotelData.sample(10)

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries,Stars,Word_Score,Price
136536,3 Rue Caulaincourt 18th arr 75018 Paris FR,8.4,Mercure Paris Montmartre Sacr Coeur,leisure trip family with young children fam...,FR,3,1.11,3200
470376,Via Albricci 2 4 Milan City Center 20122 Milan IT,9.0,The Square Milano Duomo,leisure trip couple deluxe double or twin r...,IT,4,3.78,6600
60556,152 Cricklewood Broadway Cricklewood London NW...,8.0,Clayton Crown Hotel London,leisure trip family with young children del...,UK,3,7.55,4400
450232,Singel 303 309 Amsterdam City Center 1012 WJ A...,9.1,Hotel Esther a,leisure trip family with young children dou...,NL,4,4.18,8400
316713,Elisabets 11 Ciutat Vella 08001 Barcelona ES,9.6,Hotel Casa Camper,leisure trip family with older children cor...,ES,3,1.98,4900
277976,Avenida Diagonal 661 671 Les Corts 08028 Barce...,8.3,Fairmont Rey Juan Carlos I,business trip solo traveler 2 rooms stayed...,ES,4,7.61,8200
51218,142 Minories City of London London EC3N 1LS UK,9.2,Hotel Indigo London Tower Hill,leisure trip couple superior room stayed 1...,UK,4,7.75,6800
4800,1 8 Russell Square Camden London WC1B 5BE UK,8.0,The Principal London,leisure trip couple double room stayed 3 n...,UK,4,4.31,6400
251017,80 86 Belgrave Road Westminster Borough London...,8.6,The Belgrave Hotel,leisure trip solo traveler single room sta...,UK,3,4.29,3000
176886,4 Richmond Mews Westminster Borough London W1D...,9.5,The Soho Hotel,leisure trip couple luxury room stayed 2 n...,UK,3,2.60,3300

In [10]:
allHotels=[]

for i in hotelData["Hotel_Name"]:
    if i not in allHotels:
        allHotels.append(i)

In [22]:
hotel_dict={}

for i in range (len(hotelData)):
    if hotelData["Hotel_Name"][i] not in hotel_dict:
        hotel_dict[hotelData["Hotel_Name"][i]]=hotelData["Stars"][i]

print(hotel_dict.get("Hotel Arena"))

5

In [25]:
import random

hotelPrices={}

for keys in hotel_dict:
    star=hotel_dict[keys]
    if star==5:
        hotelPrices[keys]=random.randint(100,150)*100
    elif star==4:
        hotelPrices[keys]=random.randint(60,100)*100
    elif star==3:
        hotelPrices[keys]=random.randint(20,60)*100

print(hotelPrices)

{'Hotel Arena': 14700, 'K K Hotel George': 13100, 'Apex Temple Court Hotel': 12300, 'The Park Grand London Paddington': 14900, 'Monhotel Lounge SPA': 4400, 'Kube Hotel Ice Bar': 3300, 'The Principal London': 6400, 'Park Plaza County Hall London': 3000, 'One Aldwych': 5300, 'Splendid Etoile': 14400, 'Hotel Trianon Rive Gauche': 2700, 'InterContinental London Park Lane': 3400, 'Novotel Suites Paris Nord 18 me': 2000, 'Grand Royale London Hyde Park': 14900, 'Milestone Hotel Kensington': 12500, 'Crowne Plaza London Kings Cross': 2800, 'Select Hotel': 13400, 'H tel De Vend me': 9700, 'Pullman Paris Centre Bercy': 4700, 'Gardette Park Hotel': 9700, 'Hotel Panache': 14500, 'H tel des Ducs D Anjou': 4000, 'Hotel Scribe Paris Opera by Sofitel': 2700, 'Novotel London West': 2700, 'Haymarket Hotel': 8300, 'Intercontinental London The O2': 7200, 'H tel Juliana Paris': 6500, 'Hotel L Antoine': 4800, 'Belfast': 3200, 'Shangri La Hotel Paris': 12400, 'Mercure Paris Tour Eiffel Pont Mirabeau': 9500, 'Knightsbridge Hotel': 3100, 'The London EDITION': 9000, 'The Cranley Hotel': 14200, 'Hotel Le 10 BIS': 11800, 'The Nadler Soho': 12200, 'Grange St Paul s Hotel': 5400, 'The Ampersand Hotel': 14100, 'Covent Garden Hotel': 6600, 'The Nadler Victoria': 12500, 'Novotel London Tower Bridge': 13000, 'Crowne Plaza Paris R publique': 13500, 'Le Metropolitan a Tribute Portfolio Hotel': 9500, 'Atala Champs Elys es': 7300, 'H tel de Jos phine BONAPARTE': 6200, 'Maison Souquet': 2000, 'Hotel Tour d Auvergne Opera': 7100, 'Le Senat': 8600, 'Windsor Opera': 5300, 'Holiday Inn Paris Montparnasse Pasteur': 11900, 'H tel Keppler': 3900, 'Les Plumes Hotel': 11900, 'Hotel des Tuileries Relais du Silence': 14900, 'Bradford Elys es Astotel': 4100, 'W London Leicester Square': 4600, 'The Victoria': 9900, 'Pullman London St Pancras': 4500, 'Crowne Plaza London Kensington': 2900, 'Doubletree by Hilton London Kensington': 10200, 'Ace Hotel London Shoreditch': 12800, 'Staybridge Suites London Vauxhall': 5800, 'The Grosvenor': 6500, 'The Park Tower Knightsbridge a Luxury Collection Hotel': 3300, 'Amp re': 9000, 'Melia Paris Champs Elys es': 14200, 'Le Parisis Paris Tour Eiffel': 6100, 'Thistle Kensington Gardens': 2300, 'Park Plaza Sherlock Holmes London': 13300, 'Hilton Paris Opera': 2200, 'The Kensington Hotel': 4700, 'Holiday Inn London Stratford City': 2300, 'Staybridge Suites London Stratford': 7800, 'Shepherd s Bush Boutique Hotel': 10300, 'My Bloomsbury': 2100, 'Holiday Inn Paris Gare de Lyon Bastille': 2200, 'H tel Chaplain Paris Rive Gauche': 12400, 'H tel Regina Op ra Grands Boulevards': 6700, '11 Cadogan Gardens': 12500, 'The Wellesley Knightsbridge a Luxury Collection Hotel London': 3900, 'Hotel Astor Saint Honor ': 7200, 'Op ra Marigny': 4700, 'H tel Diva Opera': 8400, 'Le Marcel': 11900, 'H tel Duo': 2900, 'H tel Le Marianne': 6500, 'The Rembrandt': 9100, 'Hotel Eden': 12700, 'H tel de la Bourdonnais': 2500, 'Ashburn Hotel': 8100, 'Marlin Waterloo': 13700, 'Best Western Premier Marais Grands Boulevards': 12000, 'Novotel London Waterloo': 10000, 'The Athenaeum': 10500, 'Park International Hotel': 14200, 'Lansbury Heritage Hotel': 14200, 'Le Dokhan s a Tribute Portfolio Hotel': 7800, 'Le Relais Madeleine': 11000, 'Terrass H tel Montmartre by MH': 8400, 'Millennium Hotel Paris Opera': 9800, 'Waldorf Madeleine': 12000, 'Batty Langley s': 10000, 'Best Western Mornington Hotel Hyde Park': 14100, 'Arbor City': 2100, 'Hotel La Lanterne': 3600, 'H tel Square Louvois': 4500, 'Hotel Marignan Champs Elys es': 5000, 'Le Grey Hotel': 5100, 'Le Pavillon des Lettres': 12200, 'H tel San R gis': 9500, 'Garden Elys e': 4900, 'Hotel Louvre Montana': 2500, 'Ambassadors Bloomsbury': 2800, 'Le 123 S bastopol Astotel': 8500, 'Le 123 Elysees Astotel': 11200, 'The Bryson Hotel': 6400, 'Best Western Mercedes Arc de Triomphe': 3000, 'London Marriott Hotel Regents Park': 7600, 'Hilton London Hyde Park': 14300, 'Staunton Hotel B B': 13300, '1K Hotel': 8800, 'H tel Westminster': 4600, 'L H tel': 6300, 'Mercure Paris Porte d Orleans': 3600, 'Maxim Op ra': 3900, 'Le Marceau Bastille': 11800, 'Hotel Odeon Saint Germain': 9500, 'Mercure London Bloomsbury Hotel': 6200, 'The Chamberlain': 4000, 'Radisson Blu Edwardian Grafton': 7600, 'La Villa Haussmann': 10700, 'London Marriott Hotel Marble Arch': 5700, 'Saint Georges Hotel': 4900, 'Park Grand London Lancaster Gate': 9200, 'The Henrietta Hotel': 13100, 'Sofitel Paris Arc De Triomphe': 13800, 'Hotel Mercure La Sorbonne Saint Germain des Pr s': 8300, 'La Tremoille Paris': 10900, 'Hotel Op ra Richepanse': 6500, 'H tel Duc De St Simon': 3800, 'Hotel Le Six': 7900, 'The Bailey s Hotel London': 2300, 'London Marriott Hotel Park Lane': 7800, 'Best Western Premier Louvre Saint Honor ': 14500, 'Hotel Indigo London Tower Hill': 6800, 'Windermere Hotel': 13700, 'La Villa Maillot': 14400, 'H tel Madison by MH': 11400, 'Mercure London Paddington Hotel': 9200, 'Hilton London Paddington': 3600, 'London Marriott Hotel Kensington': 6800, 'Kensington House Hotel': 9600, 'Charlotte Street Hotel': 7000, 'The Goring': 9700, 'Novotel Paris 14 Porte d Orl ans': 11700, 'The Pelham Starhotels Collezione': 12100, 'The Montague On The Gardens': 14300, 'Ritz Paris': 12700, 'Hotel Les Rives de Notre Dame': 15000, 'Sofitel Paris Le Faubourg': 7000, 'Bassano': 7000, 'Best Western Premier Le Swann': 11700, 'H tel des Academies et des Arts': 4600, 'Hotel Lumen Paris Louvre': 7400, 'Le Marquis Eiffel': 2600, 'COQ Hotel Paris': 5100, 'Mill sime H tel': 2500, 'The Leonard Hotel': 5200, 'DoubleTree by Hilton London Hyde Park': 8500, 'The Ritz London': 14600, 'M by Montcalm Shoreditch London Tech City': 14700, 'Legend Saint Germain by Elegancia': 7000, 'Clayton Crown Hotel London': 4400, 'Au Manoir Saint Germain': 13000, 'St Paul s Hotel': 14900, 'Best Western S vres Montparnasse': 12500, 'The Bloomsbury Hotel': 10000, 'Nolinski Paris': 14000, 'Le Tourville Eiffel': 2200, 'Paris Marriott Opera Ambassador Hotel': 4400, 'Hotel Indigo London Paddington': 10700, 'Idol Hotel': 14500, 'H tel California Champs Elys es': 2800, 'Hotel de Seze': 3500, 'Number Sixteen': 13900, 'Hotel Xenia Autograph Collection': 9600, 'H tel Hor': 4300, 'Britannia International Hotel Canary Wharf': 7300, 'Best Western Op ra Batignolles': 4800, 'H tel de Banville': 11200, 'Villa Eugenie': 14400, 'Hilton London Euston': 6500, 'Egerton House': 2800, 'Millennium Hotel London Knightsbridge': 2800, 'H tel Raphael': 4600, 'Le 7 Eiffel Hotel': 11400, 'Paris Marriott Rive Gauche Hotel': 3800, 'Hotel La Place': 12200, 'Hotel Le Pera': 4500, 'H tel Bedford': 6700, 'Drawing Hotel': 13300, 'Novotel Paris Centre Gare Montparnasse': 14100, 'D clic Hotel': 4800, 'Villa d Estr es': 11500, 'Bulgari Hotel London': 9200, 'Novotel London Greenwich': 4600, 'Park Avenue Baker Street': 6500, 'Hotel Plaza Elys es': 4000, 'Hotel Champs Elys es Friedland by Happyculture': 6000, 'Malmaison London': 14700, 'The Park City Grand Plaza Kensington Hotel': 9600, 'Park Plaza London Riverbank': 10400, 'Pullman Paris Tour Eiffel': 3100, 'Danubius Hotel Regents Park': 3900, 'Hotel Bachaumont': 14200, 'Franklin Roosevelt': 5600, 'H tel Horset Op ra Best Western Premier Collection': 13200, 'Best Western Paris Gare Saint Lazare': 3900, 'Splendide Royal Paris': 4000, 'The Rockwell': 10200, 'The LaLit London': 7600, 'Mercure Paris Alesia': 8600, 'Courthouse Hotel London': 11200, 'Best Western The Boltons Hotel London Kensington': 13600, 'Radisson Blu Edwardian Sussex': 10700, 'Hotel The Peninsula Paris': 12400, 'Le Narcisse Blanc Spa': 9600, 'The Pillar Hotel': 6200, 'Crowne Plaza London The City': 14400, 'H tel Les Dames du Panth on': 11700, 'H tel Victor Hugo Paris Kl ber': 9600, 'Grand Hotel Saint Michel': 11700, 'Hotel Maison Ath n e': 9800, 'Relais Du Louvre': 10900, 'Pullman Paris Montparnasse': 9800, 'Best Western Ducs de Bourgogne': 3100, 'Best Western Premier Op ra Opal': 12800, 'Amarante Champs Elys es': 12100, 'The Gore Hotel Starhotels Collezione': 4900, 'The Hoxton Holborn': 6200, 'Mercure London Kensington Hotel': 11000, 'Royal Garden Hotel': 11400, 'Boundary Rooms Suites': 9800, 'H tel Ad le Jules': 7400, 'Grange White Hall Hotel': 13100, 'Hilton London Bankside': 5000, 'DoubleTree by Hilton London Ealing': 10100, 'Molitor Paris MGallery by Sofitel': 9300, 'First Hotel Paris Tour Eiffel': 8800, 'DoubleTree by Hilton London Victoria': 4100, 'St Ermin s Hotel Autograph Collection': 15000, 'Montagu Place Hotel': 7900, 'H tel Regina': 2100, 'Mercure Paris Gare De Lyon TGV': 12800, 'Villa Montparnasse': 12400, 'H tel des Champs Elys es': 8400, 'Lyric H tel Paris': 9800, 'Hotel Design Secret de Paris': 8800, 'Hotel Dupond Smith': 6500, 'Okko Hotels Paris Porte De Versailles': 9700, 'La Villa Royale': 11600, 'Hotel Indigo Paris Opera': 3100, 'Villa Opera Drouot': 2100, 'Novotel Paris Gare De Lyon': 8900, 'H tel Belloy Saint Germain By Happyculture': 5100, 'Hotel Louis 2': 4100, 'InterContinental Paris Le Grand': 5100, 'The Trafalgar Hilton': 11200, 'Park Lane Mews Hotel': 9600, 'Old Ship Inn Hackney': 9000, 'The Drayton Court Hotel': 4700, 'The Montcalm Marble Arch': 14900, 'The Colonnade': 11800, 'The Royal Horseguards': 13300, 'Grange Fitzrovia Hotel': 2300, 'H tel Le M': 3300, 'The Hari London': 4300, 'citizenM London Bankside': 6000, 'Radisson Blu Edwardian Mercer Street': 2000, 'Twenty Nevern Square Hotel': 7400, 'The Abbey Court Notting Hill': 13200, 'Seven Hotel': 4100, 'Platine Hotel Spa': 3000, 'Mercure Paris Gare Montparnasse': 9100, 'Mercure Paris Notre Dame Saint Germain des Pr s': 6100, 'Mercure Paris Centre Tour Eiffel': 9000, 'Banke H tel': 7700, 'Mondrian London': 13000, 'Karma Sanctum Soho Hotel': 8100, 'NH London Kensington': 6000, 'Saint James Albany Paris Hotel Spa': 2700, 'Mercure Paris Montparnasse Raspail': 10200, 'Golden Tulip Bercy Gare de Lyon 209': 11100, 'Montfleuri': 14000, 'Simply Rooms Suites': 14900, 'Mercure Paris Pigalle Sacre Coeur': 3700, 'The Academy': 11000, 'Le Meridien Piccadilly': 10200, 'Mercure Paris Terminus Nord': 13800, 'H tel F licien by Elegancia': 2800, 'Le Lavoisier': 12300, 'H tel Moli re': 7800, 'Vice Versa': 2900, 'The Kings Head Hotel': 13500, 'H tel Etoile Saint Honor by Happyculture': 2600, 'Hotel Le petit Paris': 6200, 'Mercure Paris 19 Philharmonie La Villette': 2400, 'Royal Garden Champs Elysees': 5800, 'H tel Brighton Esprit de France': 11500, 'H tel Paris Bastille Boutet MGallery by Sofitel': 2400, 'Montcalm Royal London House City of London': 11000, 'Conrad London St James': 12800, 'L Edmond H tel': 5700, 'Novotel Suites Paris Montreuil Vincennes': 6500, 'London Marriott Hotel West India Quay': 4200, 'London Hilton on Park Lane': 10500, 'Radisson Blu Portman Hotel London': 13400, 'H tel France d Antin Op ra': 7400, 'Hotel Stendhal Place Vend me Paris MGallery by Sofitel': 2100, 'H tel De Buci by MH': 2100, 'Hotel Parc Saint Severin Esprit de France': 5400, 'Hotel Chavanel': 9500, 'The Portobello Hotel': 9400, 'Royal Saint Honore': 3700, 'Landmark London': 8800, 'Hilton London Metropole': 9000, 'Best Western Seraphine Kensington Olympia': 11700, 'Portobello House': 12800, 'Le Meurice': 5600, 'Maison Albar Hotel Paris C line': 10700, 'Henry VIII': 11000, 'Goodenough Club': 14600, 'Holiday Inn Paris Montmartre': 10800, 'Hotel Pulitzer Paris': 5200, 'Hotel Vignon': 5300, 'London Suites': 2700, 'H tel Aiglon Esprit de France': 6000, 'Sansi Diputacio': 13600, 'Park Plaza Victoria London': 9800, 'Grange Beauchamp Hotel': 12600, 'The Franklin Hotel Starhotels Collezione': 8300, 'Club Quarters Hotel St Paul s': 13600, 'Hotel Elys es Bassano': 12800, 'Hotel Opera Cadet': 11000, 'Phileas Hotel': 3400, 'Holiday Inn Paris Elys es': 4400, 'H tel Beauchamps': 3300, 'Best Western Nouvel Orl ans Montparnasse': 12500, 'Hotel Plaza Athenee Paris': 6200, 'Mercure Paris Place d Italie': 10300, 'The Nadler Kensington': 3600, 'H tel Da Vinci Spa': 3700, 'XO Hotel': 10000, 'H tel Vernet': 4700, 'Mandarin Oriental Paris': 3000, 'Rosewood London': 2100, 'Novotel Paris Vaugirard Montparnasse': 6100, 'Mayflower Hotel Apartments': 3100, 'Caesar Hotel': 6800, 'Hotel Xanadu': 12700, 'Draycott Hotel': 9700, 'DoubleTree by Hilton London Docklands Riverside': 10000, 'Bentley London': 7400, 'Mercure Paris Arc de Triomphe Etoile': 13500, 'Park Grand Paddington Court': 11400, 'The One Barcelona GL': 5500, 'The Zetter Townhouse Marylebone': 2600, 'Forest Hill Paris la Villette': 13800, 'The Levin Hotel': 7400, 'The Tophams Hotel': 6400, 'Le Pavillon de la Reine Spa': 8600, 'Hidden Hotel by Elegancia': 13700, 'Le Roch Hotel Spa': 12300, 'H10 London Waterloo': 3200, 'San Domenico House': 7300, 'Bloomsbury Palace Hotel': 15000, 'Hotel du Petit Moulin': 14400, 'Hotel Atmospheres': 3600, 'H tel La Comtesse by Elegancia': 12700, 'Hotel Astra Opera Astotel': 8900, 'Hotel La Villa Saint Germain Des Pr s': 5600, 'Grand Pigalle Hotel': 14000, 'Innkeeper s Lodge London Greenwich': 12100, 'Morgan Mees': 6700, 'Hotel Duminy Vendome': 10600, 'Maison Albar H tel Paris Champs Elys es ex Mac Mahon ': 7400, 'Holiday Inn London Mayfair': 15000, 'H tel Recamier': 7100, 'TRYP Paris Op ra': 8500, 'Royal Saint Michel': 2900, 'Paddington Court Executive Rooms': 13500, 'Novotel London Paddington': 9400, 'Hyatt Regency Paris Etoile': 10100, 'Relais Saint Jacques': 13600, 'Hotel Cambon': 12700, 'Mercure Paris Montmartre Sacr Coeur': 3200, 'Relais Christine': 5300, 'Les Matins de Paris Spa': 5200, 'Hotel Square': 8200, 'H tel Bourgogne Montana by MH': 7700, 'The Westin Paris Vend me': 8400, 'Hotel Montalembert': 8200, 'H tel Mathis Elys es': 2800, 'Le Saint Hotel Paris': 11800, 'Hotel Le Squara': 8900, 'L Hotel Pergol se Paris': 12600, 'H tel Mayfair Paris': 14600, 'Best Western Plus de Neuville Arc de Triomphe': 10500, 'South Place Hotel': 12300, 'The Royal Park Hotel': 3900, 'Holiday Inn Paris Op ra Grands Boulevards': 9100, 'Henley House Hotel': 10200, 'Holiday Inn London Camden Lock': 7700, 'DoubleTree by Hilton London Westminster': 11900, 'Blakemore Hyde Park': 9800, 'Hyatt Regency London The Churchill': 12800, 'Rathbone': 5000, 'Le Belmont Champs Elys es': 6000, 'Duret': 7700, 'H tel Elysees Mermoz': 4000, 'Majestic Hotel Spa': 7800, 'BoB Hotel by Elegancia': 11600, 'Comfort Inn Suites Kings Cross St Pancras': 12400, 'The Queens Gate Hotel': 2900, 'Grange Langham Court Hotel': 13900, 'Radisson Blu Edwardian Hampshire': 8300, 'Four Seasons Hotel George V Paris': 7500, 'The Marble Arch London': 13400, 'H tel Fabric': 13800, 'H tel du Minist re': 10300, 'Shangri La Hotel at The Shard London': 6400, 'Hotel Les Bulles De Paris': 3200, 'Acad mie H tel Saint Germain': 8200, 'Plaza Tour Eiffel': 5600, 'Park Grand London Kensington': 7000, 'Rocco Forte Brown s Hotel': 8800, 'Royal Hotel Champs Elys es': 5100, 'Best Western Allegro Nation': 8700, 'Prince de Galles a Luxury Collection hotel Paris': 11900, 'The Beaufort': 10800, 'H tel La Parizienne by Elegancia': 10600, 'Madeleine Plaza': 8600, 'Blakes Hotel': 3000, 'Castille Paris Starhotels Collezione': 11600, 'H tel D Aubusson': 14100, 'Hotel Oscar': 2700, 'Best Western Bretagne Montparnasse': 7100, 'The Westbridge Hotel': 9300, 'Courthouse Hotel Shoreditch': 6400, 'ME London by Melia': 9800, 'Grange Clarendon Hotel': 10400, 'Hotel Indigo London Kensington': 9600, 'Novotel Paris 17': 2100, 'Rafayel Hotel Spa': 8800, 'Norfolk Towers Paddington': 14900, 'Artus Hotel by MH': 9600, 'Best Western Premier Kapital Op ra': 11900, 'Timhotel Op ra Blanche Fontaine': 10200, 'H tel Amastan Paris': 7000, 'H tel Gustave': 6400, 'Best Western Maitrise Hotel Edgware Road': 5500, 'Georgian House Hotel': 5800, 'Best Western Tour Eiffel Invalides': 9400, 'The Chesterfield Mayfair': 5600, 'My Chelsea': 11400, 'Eiffel Trocad ro': 5900, 'Hotel Saint Petersbourg Opera': 9000, 'H tel Champs lys es Plaza': 11700, 'Melia Paris Tour Eiffel': 5400, 'Timhotel Op ra Grands Magasins': 12600, 'Dukes Hotel': 5100, 'Radisson Blu Edwardian Berkshire': 7800, 'Pestana Chelsea Bridge Hotel Spa': 7700, 'Arbor Hyde Park': 9800, 'Mercure Paris Porte De Versailles Expo': 4700, 'Great St Helen Hotel': 7600, 'Hotel Whistler': 5400, 'Hotel Georgette': 8000, 'Westside Arc de Triomphe Hotel': 7100, 'Etoile Saint Ferdinand': 10000, 'H tel Saint Marc': 11300, 'United Lodge Hotel and Apartments': 13600, 'H tel Le Walt': 11500, 'H tel Le Royal Monceau Raffles Paris': 8700, 'Eccleston Square Hotel': 12800, 'Nottingham Place Hotel': 14500, 'Hotel Claridge Paris': 12000, 'Strand Palace Hotel': 8500, 'H tel L Echiquier Op ra Paris MGallery by Sofitel': 9700, 'H tel De Castiglione': 12700, 'Hilton London Olympia': 7600, 'Grange Buckingham Hotel': 2600, 'The Cleveland': 9200, 'Dorset Square Hotel': 4000, 'Edouard 7 Paris Op ra': 14100, 'Renaissance Paris Arc de Triomphe Hotel': 3700, 'Rubens At The Palace': 14200, 'every hotel Piccadilly': 13100, 'Millennium Gloucester Hotel London': 14600, 'Novotel Suites Paris Expo Porte de Versailles': 12300, 'K K H tel Cayr Saint Germain des Pr s': 7300, 'Fielding Hotel': 3800, 'DoubleTree by Hilton Hotel London Marble Arch': 14200, 'Holiday Inn London West': 6300, 'The Soho Hotel': 3300, 'Le Grand H tel de Normandie': 8900, 'Monsieur Cadet Hotel Spa Ex Meyerhold Spa ': 5400, 'H tel de La Tamise Esprit de France': 9700, 'Buddha Bar Hotel Paris': 9600, 'Le A': 4200, 'Holiday Inn Paris Notre Dame': 7100, 'Mercure Paris Opera Garnier': 11600, 'Maison Albar Hotel Paris Op ra Diamond': 13100, 'Grand H tel Du Palais Royal': 14800, 'Best Western Aulivia Op ra': 8700, 'Renaissance Paris Vendome Hotel': 5700, 'Hotel Park Lane Paris': 9500, 'Little Palace Hotel': 8500, 'Napoleon Paris': 10000, 'Andaz London Liverpool Street': 8500, 'Novotel London Canary Wharf': 3500, 'H tel de Lille': 9200, 'H tel Concorde Montparnasse': 8300, 'Suites H tel Helzear Montparnasse': 7400, 'Renaissance Paris Republique Hotel Spa': 3700, 'citizenM Tower of London': 8400, 'Chiswick Rooms': 10000, 'Claridge s': 12400, 'La Suite West Hyde Park': 4500, 'St James Court A Taj Hotel London': 8400, 'Elys es R gencia': 8200, 'H tel De Sers Champs Elys es Paris': 13600, 'Hotel le Lapin Blanc': 8600, '41': 3300, 'Shaftesbury Suites London Marble Arch': 13100, 'Grange Strathmore Hotel': 9500, 'H tel R de Paris Boutique Hotel': 3700, 'Villa Panth on': 7100, 'Trinit Haussmann': 8000, 'The RE London Shoreditch': 9500, 'London City Suites': 11700, 'H tel Crayon Rouge by Elegancia': 2900, 'Mercure Paris Opera Grands Boulevards': 10400, 'St George s Hotel Wembley': 4700, 'Hotel Le Saint Gregoire': 2400, 'Le Mathurin Hotel Spa': 10400, 'H tel Saint Paul Rive Gauche': 7700, 'The Justin James Hotel': 13400, 'Millennium Hotel London Mayfair': 13800, 'H tel de Varenne': 7300, 'A La Villa Madame': 10600, 'The Curtain': 2500, '45 Park Lane Dorchester Collection': 7000, 'Grange Tower Bridge Hotel': 13600, 'Le Tsuba Hotel': 6200, 'St Martins Lane A Morgans Original': 14900, 'H tel Barri re Le Fouquet s': 11700, 'Novotel London Blackfriars': 6600, 'Hotel Villa Lafayette Paris IX': 11600, 'Canary Riverside Plaza Hotel': 6700, 'The Marylebone Hotel': 9900, 'L Empire Paris': 7000, 'The Zetter Townhouse Clerkenwell': 4600, 'The Whitechapel': 12300, 'Suites H tel Helzear Champs Elys es': 13800, 'St George Hotel': 6500, 'Best Western Premier Op ra Faubourg Ex Hotel Jules ': 2600, 'Pershing Hall': 13800, 'The Premier Notting Hill': 10000, 'H tel Pont Royal': 9700, 'Le G n ral H tel': 12000, 'H tel Th r se': 9900, 'Best Western Premier Trocadero La Tour': 7800, 'Holiday Inn London Whitechapel': 4700, 'Washington Mayfair Hotel': 3300, 'Radisson Blu Edwardian New Providence Wharf': 2300, 'Hilton London Tower Bridge': 3200, 'Novotel London Wembley': 5700, 'Le Relais M dicis': 13500, 'Les Jardins De La Villa Spa': 8400, 'Warwick Paris Former Warwick Champs Elysees ': 10700, 'Park Hyatt Paris Vendome': 7000, 'My Home In Paris': 12300, 'Mercure Paris Op ra Faubourg Montmartre': 11800, 'Best Western Plus Elys e Secret': 13700, 'Villa Beaumarchais': 4200, 'H tel Mansart Esprit 

In [26]:
hotelData["Price"]=hotelData["Hotel_Name"].map(hotelPrices)

In [30]:
import pickle

pickle.dump(hotelData,open("hotelModelPickle.pkl","wb"))

In [40]:
import pandas as pd

def findMyHotel2(dataframe, country, tags, sortBy, stars, range):
    
    #country mask
    countryMask=dataframe['countries'].str.contains(country, case=False)


    #tag masks
    tagMasks=[dataframe['Tags'].str.contains(eachTag, case=False) for eachTag in tags]
    combinedMask=pd.Series([True]*len(dataframe))
    #combining tag masks
    for eachMask in tagMasks:
        combinedMask &= eachMask
    

    #star filtering
    starMask=pd.Series([True]*len(dataframe))
    if stars!=0 :
        if stars==3 :
            starMask=dataframe['Stars']==3
        elif stars==4 :
            starMask=dataframe['Stars']==4
        elif stars==5 :
            starMask=dataframe['Stars']==5

    
    #price filtering
    min=range[0]
    max=range[1]
    minPriceMask=dataframe['Price']>=min
    maxPriceMask=dataframe['Price']<=max
    combinedPriceMask=minPriceMask & maxPriceMask
    

    #final df
    result_df=dataframe[combinedMask & countryMask & starMask & combinedPriceMask]


    #sorting data based on filter
    if sortBy==0:       #average score sorting
        result_df=result_df.sort_values('Average_Score',ascending=False)
    elif sortBy==1:     #word score sorting
        result_df=result_df.sort_values('Word_Score',ascending=False)
    elif sortBy==2:     #price sorting
        result_df=result_df.sort_values('Price',ascending=True)
    else :
        print("wrong filter")
        return
    
    
    #trimming and printing the result
    result_df.drop_duplicates(['Hotel_Name','Average_Score','Stars'],inplace=True)
    result_df=result_df.head(10)
    #print(result_df[['countries','Hotel_Name','Average_Score','Word_Score','Stars']])
    return result_df[['countries','Hotel_Name','Average_Score','Word_Score','Stars','Price']]


my_df=findMyHotel2(hotelData,"AT",["couple","leisure trip"],0,0,[5000,10000])
print(my_df)

       countries                               Hotel_Name  Average_Score  \
324855        AT      Best Western Premier Kaiserhof Wien            9.4
323102        AT                    The Guesthouse Vienna            9.4
352612        AT        Hollmann Beletage Design Boutique            9.3
366728        AT                Hotel Rathaus Wein Design            9.3
462737        AT                   Hotel Am Stephansplatz            9.3
268542        AT                        Park Hyatt Vienna            9.3
502415        AT                 Hotel Kaiserin Elisabeth            9.2
338906        AT                      The Harmonie Vienna            9.2
449395        AT                         Hotel Capricorno            9.1
352677        AT  Hotel Bristol A Luxury Collection Hotel            9.1

        Word_Score  Stars  Price
324855        8.04      4  10000
323102        7.22      4   9800
352612        4.35      4   7400
366728        1.21      4   8400
462737        6.30      4   9900
268542        6.12      4   9700
502415        5.82      4   7800
338906        6.42      4   9200
449395        4.77      4   8800
352677        5.61      4   8100

In [4]:
import pickle

hotelData=pickle.load(open("hotelModelPickle.pkl","rb"))

FileNotFoundError: [Errno 2] No such file or directory: 'server_side/hotelModelPickle.pkl'

In [3]:
hotelData.head(10)

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries,Stars,Word_Score,Price
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,5,6.05,1470
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,5,2.83,1470
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip family with young children dup...,NL,5,6.98,1470
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip solo traveler duplex double ro...,NL,5,3.84,1470
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple suite stayed 2 nights ...,NL,5,8.89,1470
5,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip group duplex double room stay...,NL,5,2.31,1470
6,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip group duplex twin room stayed...,NL,5,5.44,1470
7,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,5,3.51,1470
8,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,5,5.08,1470
9,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple large king room stayed...,NL,5,6.34,1470

In [4]:
hotelData['Price']=hotelData['Price']/10

In [7]:
hotelData.sample(10)

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries,Stars,Word_Score,Price
435733,Rotensterngasse 7a 02 Leopoldstadt 1020 Vienna AT,8.1,Hotel Nestroy Wien,leisure trip couple double room stayed 3 n...,AT,3,5.69,490
341324,Herengracht 519 525 Amsterdam City Center 1017...,9.2,Banks Mansion All Inclusive Hotel,leisure trip couple deluxe double room cana...,NL,4,5.23,640
99218,20 Nevern Square Kensington and Chelsea London...,8.3,Twenty Nevern Square Hotel,business trip solo traveler deluxe double r...,UK,4,4.83,740
464621,Taborstra e 12 02 Leopoldstadt 1020 Vienna AT,9.1,Hotel Stefanie,leisure trip couple double room with courty...,AT,5,8.47,1330
413171,Pla a Rosa dels Vents 1 Passeig Joan de Borbo ...,8.5,W Barcelona,leisure trip group wonderful double or twin...,ES,3,6.62,440
440827,Savoyenstra e 2 16 Ottakring 1160 Vienna AT,8.3,Austria Trend Hotel Schloss Wilhelminenberg Wien,leisure trip family with young children exe...,AT,4,7.16,630
247218,8 18 London Bridge St Southwark London SE1 9SG UK,8.7,London Bridge Hotel,leisure trip couple standard double room s...,UK,3,5.18,480
498527,Vijzelstraat 4 Amsterdam City Center 1017 HK A...,7.0,NH Carlton Amsterdam,leisure trip couple standard double or twin...,NL,5,4.18,1240
62671,16 London Street Paddington Westminster Boroug...,8.7,Hotel Indigo London Paddington,leisure trip couple superior king room sta...,UK,5,7.77,1070
31943,10b Chestnut Plaza Westfield Stratford City Ol...,9.2,Staybridge Suites London Stratford,leisure trip couple deluxe studio suite st...,UK,4,1.85,780

In [4]:
import pickle

hotelData=pickle.load(open("hotelModelPickle.pkl","rb"))

hotelData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Hotel_Address  515738 non-null  object
 1   Average_Score  515738 non-null  float64
 2   Hotel_Name     515738 non-null  object
 3   Tags           515738 non-null  object
 4   countries      515738 non-null  object
 5   Stars          515738 non-null  int64
 6   Word_Score     515738 non-null  float64
 7   Price          515738 non-null  int64
dtypes: float64(2), int64(2), object(4)
memory usage: 31.5+ MB

In [19]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

def findMyHotel3(dataframe,country,sortBy,stars,range,query):

    #country mask
    countryMask=dataframe['countries'].str.contains(country,case=False)

    #star filtering
    starMask=pd.Series([True]*len(dataframe))
    if stars!=0 :
        if stars==3 :
            starMask=dataframe['Stars']==3
        elif stars==4 :
            starMask=dataframe['Stars']==4
        elif stars==5 :
            starMask=dataframe['Stars']==5

    #price filtering
    min=range[0]
    max=range[1]
    minPriceMask=dataframe['Price']>=min
    maxPriceMask=dataframe['Price']<=max
    combinedPriceMask=minPriceMask & maxPriceMask

    #filtered df
    filterDf=dataframe[countryMask & starMask & combinedPriceMask]
    
    
    tfidf=TfidfVectorizer(stop_words="english")                 #making tf idf vectorizer
    tfMatrix=tfidf.fit_transform(filterDf['Tags'])              #convert tags to vectors
    queryVector=tfidf.transform([query.lower()])                #making the queryVector
    cosProd=cosine_similarity(queryVector,tfMatrix).flatten()   #cos product of query and tags
    hotelsFound = cosProd.argsort()[-100:][::-1]                #getting indices of hotels found
    result_df=filterDf.iloc[hotelsFound]                        #filtering dataframe based on indices from cos product

    if sortBy==0:                                                           #average score sorting
        result_df=result_df.sort_values('Average_Score',ascending=False)
    elif sortBy==1:                                                         #word score sorting
        result_df=result_df.sort_values('Word_Score',ascending=False)
    elif sortBy==2:                                                         #price sorting
        result_df=result_df.sort_values('Price',ascending=True)
    else :
        print("wrong filter")
        return
    
    result_df.drop_duplicates(['Hotel_Name'],inplace=True)
    result_df=result_df.head(10)
    result_df.head(10)
    return result_df

findMyHotel3(hotelData,"UK",2,0,[450,1000],"i am going on a business trip and i want to find a couple room")

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries,Stars,Word_Score,Price
92745,2 The Avenue Ealing London W13 8PH UK,8.8,The Drayton Court Hotel,business trip couple double room stayed 1 ...,UK,3,3.48,470
82855,190 Queen s Gate Kensington and Chelsea London...,8.6,The Gore Hotel Starhotels Collezione,business trip couple double room stayed 1 ...,UK,3,3.47,490
48201,14 15 Langham Place Westminster Borough London...,7.5,Saint Georges Hotel,business trip couple double room stayed 1 ...,UK,3,7.05,490
160109,35 St James s Place Westminster Borough London...,8.6,Dukes Hotel,business trip couple double room stayed 1 ...,UK,3,5.73,510
215570,57 59 Welbeck Street Westminster Borough Londo...,7.5,Holiday Inn London Oxford Circus,business trip couple double room stayed 1 ...,UK,3,2.16,540
96664,20 Lavington Street Southwark London SE1 0NZ UK,9.1,citizenM London Bankside,business trip couple double room stayed 1 ...,UK,3,6.84,600
459078,St Katherines Way Tower Hamlets London E1W 1LD UK,8.6,The Tower A Guoman Hotel,business trip couple double room stayed 1 ...,UK,3,7.26,600
83399,199 206 High Holborn Camden London WC1V 7BD UK,9.2,The Hoxton Holborn,business trip couple double room stayed 1 ...,UK,4,8.40,620
176570,4 Portal Way Gypsy Corner A40 London W3 6RT UK,8.1,Holiday Inn London West,business trip couple double room stayed 1 ...,UK,4,6.36,630
129933,28 Ebury Street Westminster Borough London SW1...,6.6,The Tophams Hotel,business trip couple double room stayed 1 ...,UK,4,5.24,640

In [1]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [23]:
def findMyHotel4(df,country,sortBy,stars,range,query):

    #country
    countryMask=df['countries'].str.contains(country,case=False)

    #star filtering
    starMask=pd.Series([True]*len(df))
    if stars!=0 :
        if stars==3 :
            starMask=df['Stars']==3
        elif stars==4 :
            starMask=df['Stars']==4
        elif stars==5 :
            starMask=df['Stars']==5

    #price filtering
    min=range[0]
    max=range[1]
    minPriceMask=df['Price']>=min
    maxPriceMask=df['Price']<=max
    combinedPriceMask=minPriceMask & maxPriceMask

    #filtered df
    filterDf=df[countryMask & starMask & combinedPriceMask]
    filterDf=filterDf.drop_duplicates(['Hotel_Name'])

    #processing the text
    def processText(text):
        stopWords=set(stopwords.words("english"))
        words=word_tokenize(text)
        filterWords=[i for i in words if i not in stopWords]
        lemmat=WordNetLemmatizer()
        lemmatWords=[lemmat.lemmatize(i) for i in filterWords]
        return " ".join(lemmatWords)
    

    #calling processText to process tags and the query
    #df['Tags']=df['Tags'].apply(processText)
    queryText=processText(query)


    tfidf=TfidfVectorizer(stop_words="english")
    tfMatrix=tfidf.fit_transform(filterDf['Tags'])
    queryVector=tfidf.transform([queryText.lower()])
    cosProd=cosine_similarity(queryVector,tfMatrix).flatten()
    hotelsFound = cosProd.argsort()[-100:][::-1]
    result_df=filterDf.iloc[hotelsFound]

    if sortBy==0:                                                           #average score sorting
        result_df=result_df.sort_values('Average_Score',ascending=False)
    elif sortBy==1:                                                         #word score sorting
        result_df=result_df.sort_values('Word_Score',ascending=False)
    elif sortBy==2:                                                         #price sorting
        result_df=result_df.sort_values('Price',ascending=True)
    else :
        print("wrong filter")
        return
    
    
    result_df=result_df.head(10)
    return result_df



findMyHotel4(hotelData,"FR",0,0,[450,1000],"i am going on a business trip and i want to find a couple room")

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries,Stars,Word_Score,Price
81101,19 Boulevard De La Tour Maubourg 7th arr 75007...,9.5,Le Narcisse Blanc Spa,leisure trip couple superior double room s...,FR,4,8.18,960
245310,78 Rue Blomet 15th arr 75015 Paris FR,9.4,Hotel Eiffel Blomet,business trip couple deluxe twin room stay...,FR,4,4.09,650
260049,9 rue Gr goire de Tours 6th arr 75006 Paris FR,9.3,Victoire Germain,leisure trip couple standard double room s...,FR,3,4.46,540
192504,45 Rue des Acacias 17th arr 75017 Paris FR,9.3,Le Tsuba Hotel,leisure trip couple superior double room s...,FR,4,2.22,620
146513,31 Avenue George V 8th arr 75008 Paris FR,9.3,Four Seasons Hotel George V Paris,leisure trip couple deluxe king room staye...,FR,4,5.74,750
129961,28 place des Vosges 3rd arr 75003 Paris FR,9.2,Le Pavillon de la Reine Spa,leisure trip couple superior double or twin...,FR,4,3.81,860
162798,36 rue de Saint Quentin 10th arr 75010 Paris FR,9.2,Hotel Whistler,leisure trip couple double room stayed 3 n...,FR,3,2.35,540
89986,2 Rue du Colonel Pierre Avia 15th arr 75015 Pa...,9.2,Okko Hotels Paris Porte De Versailles,leisure trip couple comfort double room st...,FR,4,7.23,970
203717,5 Rue Marivaux 2nd arr 75002 Paris FR,9.2,La Maison Favart,leisure trip couple classic double room st...,FR,4,4.24,880
168515,38 rue de l Echiquier 10th arr 75010 Paris FR,9.1,H tel L Echiquier Op ra Paris MGallery by Sofitel,business trip solo traveler classic room wi...,FR,4,4.45,970